* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgba(100, 148, 237, 0.686);
  font-family: monospace;
}

.show {
  padding: 8px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  border: none;
  margin: 15px;
  background-color: seagreen;
  color: #fff;
  font-family: monospace;
}

.box {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
 cursor: pointer;
}

.inner-box {
  text-align: center;
  height: 100vh;
  background-color: rgba(220, 220, 220, 0.7);
  border: none;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  height: 250px;
  padding: 25px;
  gap: 15px;
}

.inner-box p {
  margin-top: 62px;
}

.inner-box button {
  margin-top: 34px;
  padding: 8px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  border: none;
  margin: 15px;
  background-color: seagreen;
  color: #fff;
  font-family: monospace;
}

.hidden{
  visibility: hidden;
}


